/* CSS personalizado */
body {
    font-family: 'Arial', sans-serif;
}

h1, h2 {
    font-weight: bold;
}

.navbar {
    margin-bottom: 0;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

a.btn {
    margin-top: 20px;
}
